{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}

 <meta name="FloriShop" content="Онлайн-магазин цветов и аксессуаров">

 <div class="main-priv margin">
                    <div class="container">
                        <h3>Интернет-магазин FloriShop приветствует Вас!</h3>
                        <p>Мы предлагаем широкий ассортимент товаров по выгодным для вас ценам и с удобным для вас сервисом. Вы можете легко и быстро заказать букет и порадовать своих близких, друзей, коллег прекрасным подарком к любому празднику.

                            Мы занимаемся продажей и доставкой в Хабаровске:

                            букетов цветов
                            комнатных растений
                            сувениров и подарков
                            мягких игрушек
                            гелиевых шаров</p>
                        <div class="row items">

                            <div class="col-lg-4 col-md-6">
                                <div class="box">
                                    <i class="fa fa-road"></i>
                                    <p class="num">>100</p>
                                    <p>пройденных километров</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="box">
                                    <i class="fa fa-gear"></i>
                                    <p class="num">>1 000 000</p>
                                    <p>Цветов осчастливили людей</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="box">
                                    <i class="fa fa-paw"></i>
                                    <p class="num">>100 000</p>
                                    <p>Плюшевых зверей обрели семью</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </main>

{% endblock %}